apiVersion: v1
kind: Service 
metadata:
  name: frontend-service
  labels:
    app: frontend
    tier: frontend  
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports: 
    - name: http
      port: 3000 # Service Port
      targetPort: 80 # Container Port